.about-us {
    display: flex;
    min-height: 720px;
    overflow: hidden;
}

.about-us__image {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-white);
    position: relative;
}

.about-us__image div {
    padding: 32px 64px;
    display: flex;
    align-items: center;
    flex: 1;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.about-us__image-sushi3 {
    border-bottom: 8px solid var(--color-creamson);

    background-image: url("../../assets/about_bg1.png");
}

.about-us__image-sushi2 {
    background-image: url("../../assets/about_bg2.png");
}

.about-us__image-sushi3 img{
    width: 225px;
    height: 200px;
}

.about-us__image-sushi2 img{
    width: 260px;
    height: 200px;
}
.about-us__button{
    position: absolute;
    right: 0;
    padding: 20px 40px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 32px 0 0 32px;
    border: none;
    outline: none;
    -webkit-border-radius: 32px 0 0 32px;
    -moz-border-radius: 32px 0 0 32px;
    -ms-border-radius: 32px 0 0 32px;
    -o-border-radius: 32px 0 0 32px;
}

.about-us__content{
    flex: 1;
}