.header__nav {
    display: flex;
    overflow: hidden;
}

.header__logo {
    display: flex;
    flex: 1;
    padding: 1.5rem;
    position: relative;
}

.header__logo-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--primary-color);
    width: 100%;
    z-index: -1;
}

.header__logo h4 {
    color: #fff;
    padding-left: 1.5rem;
    font-family: var(--playfair-display);
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.8;
}

.header__menu , .header__menu-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 1.5rem;
    gap: 4.5rem;
}

.header__menu li {
    font-weight: 500;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 14px;
    font-family: var(--plus-jakarta-sans);
    line-height: 20px;
    cursor: pointer;
}

.header__menu li img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.header__menu-mobile{
    display: none;
    /* position: relative;
    gap: 20px; */
}