.popular-foods {
    padding: 64px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.popular-foods__title {
    font-size: 56px;
    font-family: var(--playfair-display);
    font-weight: 600;
    line-height: 80px;
    color: #fff;
    text-align: center;
}

.popular-foods__filters {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 40px;
    max-width: 100%;
    overflow-x: hidden;
}

.popular-foods__filters-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 28px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 48px;
    font-size: 16px;
    font-weight: 300;
    font-family: var(--plus-jakarta-sans);
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    -ms-border-radius: 48px;
    -o-border-radius: 48px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.popular-foods__filters-btn img {
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.popular-foods__filters-btn.active {
    background-color: #fff;
    color: var(--primary-color);
}

.popular-foods__filters-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.popular-foods__catalogue {
    margin-top: 64px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 54px;
}

.popular-foods__exploreBtn {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin: 80px auto 10px;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    line-height: 26px;
    cursor: pointer;
    border-radius: 64px;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--secondary-color);
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
}

.popular-foods__exploreBtn img {
    width: 14px;
    height: 14px;
    object-fit: contain;

}

.popular-foods__card {
    padding: 30px;
    min-width: 260px;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 36px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    -ms-border-radius: 36px;
    -o-border-radius: 36px;
}

.popular-foods__card-image {
    width: 110px;
    height: 85px;
    object-fit: contain;
}

.popular-foods__card-title {
    margin-top: 40px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    font-family: var(--playfair-display);
    text-align: center;
}

.popular-foods__card-detail {
    width: 100%;
    margin-top: 30px;
}

.popular-foods__card-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.popular-foods__card-rating img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.popular-foods__card-rating span {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: var(--plus-jakarta-sans);
}

.popular-foods__card-price {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
}

.popular-foods__card.active-card {
    background-color: #fff;
    min-width: 350px;
}

.popular-foods__card.active-card .popular-foods__card-image {
    width: 214px;
    height: 160px;
}

.popular-foods__card.active-card .popular-foods__card-title {
    font-size: 28px;
    color: var(--black-500);
}

.popular-foods__card.active-card .popular-foods__card-rating img {
    width: 32px;
    height: 32px;
}

.popular-foods__card.active-card .popular-foods__card-rating span {
    font-size: 22px;
    color: var(--gray-100);
}

.popular-foods__card.active-card .popular-foods__card-price {
    font-size: 22px;
    color: var(--secondary-color);
}