.subscription {
    padding: 64px;

    background-color: var(--primary-color);
    background-image: url(../../assets/subscribe_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    flex-direction: column;
    overflow: hidden;
}

.subscription h2 {
    font-size: 88px;
    font-weight: 600;
    font-family: var(--playfair-display);
    line-height: 123px;

    color: #fff;
    text-align: center;
}

.subscription p {
    font-size: 18px;
    font-weight: 300;
    font-family: var(--plus-jakarta-sans);
    line-height: 32px;

    margin-top: 30px;

    color: rgba(255, 255, 255, 0.8);
}

.subscription__form{
    width: 480px;
    margin-top: 40px;
    padding: 14px 14px 14px 24px;
    display: flex;
    gap: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;
}

.subscription__form input {
    flex: 1;

    font-size: 16px;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);

    color: #fff;
    opacity: 0.7;   
    background-color: transparent;
    border: none;
    outline: none;
}

.subscription__form input::placeholder{
    color: #fff;
    opacity: 0.7;
}

.subscription__form button {
    padding: 20px;
    min-width: 180px;
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--black-400);
    border-radius: 46px;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    -ms-border-radius: 46px;
    -o-border-radius: 46px;

    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    text-align: center;
    cursor: pointer;
}