.trending {
    position: relative;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.trending__discover {}

.trending-sushi,
.trending-drinks {
    width: 100%;
    min-height: 640px;

    display: flex;
    flex-direction: row;
}

.trending__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 32px 64px;
}

.trending__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.trending__list li {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 210px;
}

.trending__icon {
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.trending__icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.trending__icon p {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
}

.trending__image {
    flex: 1;

    position: relative;
    padding: 32px 64px;

    background-color: var(--color-white);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.trending-sushi .trending__image {
    background-image: url(../../assets/japanese_sushi.png);
}

.trending-drinks .trending__image {
    background-image: url(../../assets/japanese_drinks.png);
}

.trending__image img {
    width: 254px;
    height: 260px;
    object-fit: contain;
}


/* Arrows */
.trending__arrow {
    position: absolute;
    z-index: 1;
}

.trending__arrow img {
    object-fit: contain;
}

.trending__arrow-left {
    left: -2.5px;
    top: 12%;
}

.trending__arrow-left img,
.trending__arrow-top img {
    width: auto;
    height: 100%;
}

.trending__arrow-top {
    top: -10.5px;
    left: 12%;
}

.trending__arrow-bottom {
    bottom: -6.5px;
    right: 12%;
}

.trending__arrow-bottom img,
.trending__arrow-right img {
    width: 100%;
    height: auto;
}

.trending__arrow-right {
    right: -2.5px;
    bottom: 12%;
}