/* START: header media querie */
@media screen and (max-width: 900px) {
    .header__nav {
        background-color: var(--primary-color);
    }

    .header__nav .header__menu li {
        color: #fff;
        font-size: 14px;
        white-space: nowrap;
    }

    .header__menu-mobile {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    .header__nav {
        align-items: center;
        justify-content: space-between;
    }

    .header__nav .header__menu-mobile {
        display: flex !important;
    }

    .header__nav .header__logo {
        padding-left: 0;
    }

    .header__nav .header__menu {
        display: none;
    }
}

/* END: header media queries */

/* START: hero media queries */

@media screen and (max-width: 1080px) {
    .hero {
        flex-direction: column;
    }

    .hero .hero-image img {
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .hero .hero-image h2 {
        font-size: 70px;
        line-height: 90px;
    }
}

@media screen and (max-width: 550px) {
    .hero .hero-image h2 {
        font-size: 40px;
        line-height: 60px;
    }

    .hero .hero-content__info {
        padding: 32px;
    }

    .hero .hero-content__info h1 {
        font-size: 40px;
    }

    .hero .hero-content__info p {
        font-size: 15px;
        margin: 32px 0;
    }

    .hero-content__info .hero-content__buttons {
        margin: 32px 0;
    }

    .hero-content__info .hero-content__buttons .hero-content__order-btn {
        padding: 10px 0;
        width: 140px;
    }

    .hero-content__testimonial {
        padding: 32px;
    }

    .hero-content__testimonial .hero-content__customers p {
        text-align: center;
    }

    .hero-content__testimonial .hero-content__review img {
        width: 52px;
        height: 52px;
    }

    .hero-content__testimonial .hero-content__review p {
        font-size: 13px;
        line-height: 20px;
    }
}

/* END: hero media queries */

/* START: about us media queries */
@media screen and (max-width: 1024px) {
    .about-us {
        margin-top: 30px;
        flex-direction: column;
    }

    .about-us .about-us__image {
        flex-direction: row;
    }

    .about-us .about-us__image img {
        width: 150px;
        height: 150px;
        object-fit: contain;
        margin: 0 auto;
    }

    .about-us__button {
        display: none;
    }

    .about-us .about-us__image-sushi3 {
        border-bottom: none;
    }

    .about-us__content .about-us__subtitle {
        text-align: center;
        padding-left: 0;
    }

    .about-us__content .about-us__title {
        font-size: 44px;
    }

    .about-us__content .about-us__description {
        font-size: 16px;
        line-height: 30px;
    }
}

@media screen and (max-width: 550px) {

    .about-us__image .about-us__image-sushi3 img,
    .about-us__image .about-us__image-sushi2 img {
        width: 130px;
        height: 130px;
        object-fit: contain;
        margin: 0 auto;
    }

    .about-us__image .about-us__image-sushi2, 
    .about-us__image .about-us__image-sushi3{
        padding: 30px 0;
    }

    .about-us__image .about-us__button {
        padding: 20px 30px;
        font-size: 15px;
    }

    .about-us__image .about-us__button img {
        padding-left: 15px;
    }
    .about-us__content .about-us__subtitle{
        font-size: 16px;
    }
    .about-us__content .about-us__title {
        font-size: 30px;
        font-weight: 500;
        margin: 0 10px;
    }

    .about-us__content .about-us__description {
        font-size: 16px;
        line-height: 28px;
        padding: 0 30px;
    }
}

/* END: about us media queries */

/* START: popular media queries */
@media screen and (max-width: 1120px) {
    .popular-foods .popular-foods__catalogue{
        flex-wrap: nowrap;
    }
}

@media screen and (max-width:1000px) {
    .popular-foods .popular-foods__filters {
        flex-direction: column;
        gap: 18px;
    }
    .popular-foods .popular-foods__catalogue{
        flex-wrap: wrap;
    }
    .popular-foods__filters .popular-foods__filters-btn {
        padding: 10px 20px;
    }
}

@media screen and (max-width: 550px) {
    .popular-foods {
        padding: 64px 32px;
    }

    .popular-foods .popular-foods__title {
        font-size: 27px;
        line-height: 60px;
        text-align: left;
    }

    .popular-foods .popular-foods__filters {
        justify-content: center;
        gap: 15px;
    }

    .popular-foods .popular-foods__filters-btn {
        width: 80%;
        margin: 0 auto;
        padding: 10px;
        justify-content: center;
    }

    .popular-foods__catalogue .popular-foods__card.active-card {
        min-width: 100%;
    }

    .popular-foods__catalogue .popular-foods__card-detail .popular-foods__card-rating img {
        width: 22px;
        height: 22px;
    }

    .popular-foods .popular-foods__exploreBtn {
        margin: 50px auto 10px;
    }
}

/* END: popular media queries */


/* START: subscribe media queries */
@media screen and (max-width: 1024px) {
    .subscription .subscription__form {
        padding: 10px 10px 10px 20px;
    }
}

@media screen and (max-width: 550px) {
    .subscription {
        padding: 64px 32px !important;
    }

    .subscription h2 {
        font-size: 68px !important;
        line-height: 100px !important;
    }

    .subscription .subscription__form {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0 30px;
        padding: 0;
        border-radius: 20px;
        border: none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .subscription__form input {
        min-height: 50px;

        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 10px 20px;
        border-radius: 30px;
    }

    .subscription__form button {
        min-width: 100%;
    }
}

/* END: subscribe media queries */

/* START: trending media queries */
@media screen and (max-width: 1024px) {
    .trending-sushi {
        flex-direction: column;
    }

    .trending-drinks {
        flex-direction: column-reverse;
    }

    .trending-sushi .trending__image img {
        width: 150px;
        height: 150px;
    }

    .trending .trending__content {
        padding: 32px 60px;
    }

    .trending-sushi .trending__content .sushi__description,
    .trending-drinks .trending__content .sushi__description {
        font-size: 16px;
        margin: 20px 0;
    }

    .trending__image {
        width: 100%;
        background-size: cover;
    }

    .trending__content .sushi__title,
    .trending__content .sushi__subtitle,
    .trending__content .sushi__description {
        text-align: center;
    }

    .trending__content .trending__list li {
        margin-left: 60px;
    }


    .trending .trending__discover {
        display: none;
    }

    .trending__arrow {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .trending-sushi .trending__image img,
    .trending-drinks .trending__image img {
        width: 200px;
        height: 200px;
    }

    .trending .trending-drinks {
        flex-direction: column-reverse;
    }
}

/* END: trending media queries */

/* START: footer media queries */
@media screen and (max-width: 1024px) {

    .footer .footer__social,
    .footer__nav {
        display: none;
    }

    .footer .footer__copyright {
        display: flex;
    }
}

@media screen and (max-width: 550px) {
    .footer .footer__copyright {
        display: flex;
        font-size: 14px;
        font-weight: 400;
    }

}

/* END: footer media queries */